.DS_Store

.cache/

.dotnet/

.ipynb_checkpoints/

.ipython/

.jupyter/

.local/

.nv/

.venv/

.vscode/

.vscode-server/

catboost_info/

.bash_history

.profile

.wget-hsts

poetry.lock

poetry.toml

pyproject.toml

data/images/

code/log/

code/saved_models/

nltk_data/tokenizers/

code/submit/

code/data/text_vector/

__pycache__/